server:
  port: 5000

spring:
  application:
    name: d2y-official-api
  datasource:
    url: jdbc:postgresql://localhost:5432/d2y-official-api
    password: YOUR_PASSWORD
    username: YOUR_USERNAME
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true
  mail:
    host: sandbox.smtp.mailtrap.io
    port: 2525
    password: YOUR_PASSWORD
    username: YOUR_USERNAME
    protocol: smtp

# JWT CONFIG
# Key secret generate https://www.allkeysgenerator.com/Random/Security-Encryption-Key-Generator.aspx
jwt:
  url: "/authorization"
  header: "Authorization"
  prefix: "Bearer "
  expiration: 86400000 #1 Day
  refresh-expiration: 604800000 #7 Day
  secret: "YOUR_SECRET_KEY"
